@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: URL(fonts/TTLakes-Light.woff) format(woff);
}
    
@font-face {
    font-family: "TT Lakes Condensed";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: URL(fonts/TTLakesCondensed-Bold.woff) format(woff);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.title {
    height: 80px;
    vertical-align: middle;
    padding: 16px;
    border-top: 1px solid #D9FFF5;
}

h2 {
    font-family: "TT Lakes";
    font-weight: 400;
    font-size: 16px;
    color: #7E7E82;
}
