@media (min-width: 320px) and (max-width: 767px) {
    
    .swiper-block-mobile {
        position: relative;
        background-color: #F8F8F8;
        height: 100%;
        overflow: hidden;
    }

    .swiper-container::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 5%;
        left: 95%;
        z-index: 10;
        background: linear-gradient(90deg, rgba(63, 6, 6, 0) 1%, #F8F8F8 100%);
    }

    .swiper-container {
        width: 256px;
    }

    .swiper-pagination {
        --swiper-pagination-top: 100px;
        background-color: #F8F8F8;
    }

    .swiper-pagination .swiper-pagination-bullet {
        background-color: #B5B6BC;
    }

    .equipment {
        height: 72px;
        width: 240px;
        border-radius: 6px;
        margin: 16px;
    }

    .block-desktop {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 9999px) {

    .swiper-block-mobile {
        display: none;
    }

    .block-desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border: 1px solid red;
    }

    .equipment {
        height: 72px;
        width: 240px;
        border-radius: 6px;
        margin-bottom:16px;
    }

    .equipment:not(:nth-child(-n+20)) {
        display: none;
    }
}
